<%= form_with url: login_path do |f| %>
  <div class="mb-3">
    <%= f.label :ユーザー名 %>
    <%= f.email_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>
  </div>
  <div class="mb-3">
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
  </div>
  <div class="mb-3">
    <%= f.label :確認用パスワード %>
    <%= f.password_field :password %>
  </div>
    <%= f.submit "ログイン" %>
<% end %>